  
<div *ngIf="dataLoaded == false" class="text-center">
  <div class="spinner-border text-dark" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
</div>

<ul *ngIf="dataLoaded == true" class="list-group">
    <li 
    routerLink="/car"
    (click)="removeCurrentColor()"
    [ngClass]="getAllCurrentColorClass()" aria-current="true">Tümü</li>
    <li
    (click)="setCurrentColor(color)"
    [ngClass]="getCurrentColorClass(color)"
    routerLink="/car/color/{{color.colorId}}"
    *ngFor="let color of colors">
    {{color.colorName}}</li>
 
  </ul>