<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">github.com/sergennkeles</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
 

        
        <li class="nav-item dropdown" >
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Araç İşlemleri
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li ><a routerLink="/cars/add" class="dropdown-item" href="#">Araç Ekle</a></li>
           
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Marka İşlemleri
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li ><a routerLink="/brands/add" class="dropdown-item" href="#">Marka Ekle</a></li>
            <li><a routerLink="/brands/list"  class="dropdown-item" href="#">Marka Güncelle</a></li>
            
          </ul>
        </li>

          <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Renk İşlemleri
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li  ><a  routerLink="/colors/add" class="dropdown-item" href="#">Renk Ekle</a></li>
            <li><a  routerLink="/colors/list" class="dropdown-item" href="#">Renk Güncelle</a></li>
            
          </ul>
        </li>
     
      </ul>
    <div *ngIf="!isAuth">
      <button class="btn btn-outline-primary" routerLink="/register">
         Üye Ol
      </button>
   
      <button class="btn btn-primary ms-lg-2" routerLink="/login">
        Giriş Yap
      </button>
   </div>

   <div *ngIf="isAuth" >
      <div class="btn-group">
       
         <button class="btn dropdown-toggle" data-bs-toggle="dropdown">
            <fa-icon [icon]="userIcon" size="2x"></fa-icon> <label for="text">{{getFullName()}}</label>
         </button>
   
         <div class="dropdown-menu dropdown-menu-end">
    
            <div class="dropdown-item" routerLink="/profile"> Profil </div>
            <div class="dropdown-item" (click)="logout()" > Çıkış Yap </div>
         </div>
      </div>
   </div>
    
    </div>
  </div>
</nav>

