<div class="card" *ngIf="dataLoaded == true">
    <div class="card-header text-center">
        <strong>
      {{ carDetail.car.brandName }} - {{ carDetail.car.modelYear }}
    </strong>
    </div>
    <div class="card-body">

        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div *ngFor="let image of carDetail.carImages; let i = index" [ngClass]="getSliderClassName(i)">
                    <img src="{{ imageBasePath }}/{{ image.imagePath }}" class="d-block w-100" width="800" height="400" alt="..." />
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Marka</th>
                    <th>Model</th>
                    <th>Renk</th>
                    <th>Kiralama Ücreti</th>
                    <th>Açıklama</th>
                    <th></th>
                    <th></th>
                    <th></th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ carDetail.car.id }}</td>
                    <td>{{ carDetail.car.brandName }}</td>
                    <td>{{ carDetail.car.modelYear }}</td>
                    <td>{{ carDetail.car.colorName }}</td>
                    <td>{{ carDetail.car.dailyPrice }}</td>
                    <td>{{ carDetail.car.description }}</td>

                    <td>
                        <button [hidden]="!isAvailable" [routerLink]="['/rentals/rent']" [queryParams]="{carId: carDetail.car.id}" class="btn btn-success">
              Kirala
            </button>
                    </td>
                    <td>

                        <button *ngIf="!isAvailable" class="btn btn-success" [routerLink]="['/rentals/update']" [queryParams]="{carId: carDetail.car.id}">
              Teslim al
            </button>
                    </td>
                    <td><button routerLink="/car/update/{{ carDetail.car.id }}" class="btn btn-warning">Güncelle</button></td>
                    <td><button class="btn btn-danger" (click)="delete(car)">Sil</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>