<ul class="list-group">
  <li class="list-group-item"><a routerLink="/car" routerLinkActive="active">Araçlar</a></li>
  <li class="list-group-item"><a routerLink="/brand" routerLinkActive="active">Markalar</a></li>
  <li class="list-group-item"><a routerLink="/color" routerLinkActive="active">Renkler</a></li>
  <li class="list-group-item"><a routerLink="/customer" routerLinkActive="active">Müşteriler</a></li>
  <li class="list-group-item"><a routerLink="/rental" routerLinkActive="active">Kirada olan araçlar</a></li>
</ul>