
<div *ngIf="dataLoaded == false" class="text-center">
    <div class="spinner-border text-dark text-center" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
</div>  


  <!--ngModel=two way binding ile iki taraflı bağlantı sağlıyoruz-->
<app-filter></app-filter>
<table *ngIf="dataLoaded == true" class="table table-hover table-bordered">
    <thead>
        <th>Id</th>
        <th>Marka</th>
        <th>Renk</th>
        <th>Model Yılı</th>
        <th>Fiyatı</th>
        <th>Açıklama</th>
     <th></th>
     
    </thead>
    <tbody>
        <tr routerLink="/car/car-detail/{{car.id}}"  *ngFor="let car of cars 
          " >
        
            <td> {{car.id}}  </td>
            <td> {{car.brandName  }}  </td>
            <td> {{car.colorName }}  </td>
            <td> {{car.modelYear}} </td>
            <td> {{car.dailyPrice}} </td>
            <td> {{car.description}} </td>
         <td><button (click)="delete(car)" class="btn btn-danger">Sil</button></td>
        </tr>
    </tbody>
</table>